**/build*/
**/data/
**/test-data/
**/*.tox
**/*.tox.*
**/*.lock
**/*.obj
**/*.pdb
**/*.user
**/*.exe
**/*.lib
**/*.log
/deps/install/
/deps/c-toxcore*/
/deps/libsodium*/
/deps/pthreads4w*/
/deps/*.zip
/deps/*.tar.gz
.vs/
/deps/toxcore-full/
/deps/sodium-msvc/
/deps/pthreads/
